:local(.container ) {

  .clear-filter {
    background-color: #bdbdbd;
    border: 1px solid black;
    margin-top: 10px;
    float: left;
    margin-left: 20px;
  }


  .filters {
    height: 300px;
    margin-top: 20px;
  }
}